.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    border: 1px solid black;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #9a9e9a;
}

.container h1::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
}

.container-calculadora-peso,
.container-calculadora-altura {
    margin-bottom: 20px;
    width: 100%;
}

.input-number {
    height: 20px;
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.botao-calcular {
    font-size: 18px;
    width: 250px;
    background-color: #1b2845;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 0 10px 0;
    margin-top: 30px;
    border-radius: 5px;
    height: 50px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}