body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 10px;
    border-radius: 25px;
    margin: 20px;
    height: 400px;
    width: 400px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: #9a9e9a;
}

.container-calculadora-peso,
.container-calculadora-altura {
    margin-bottom: 16px;
    width: 100%;
}

.input-number {
    height: 20px;
    width: 150px;
    margin-left: 0px;
    font-size: 24px;
}

.botao-calcular {
    font-size: 18px;
    width: 200px;
    background-color: #1b2845;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}